{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "globals": {
      "localStorage": true,
      "document": true
  },
  "rules": {
    "react/prop-types":  0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": 0,
    "no-console": 0
  }
}
